.card {
  width: 600px;
  background-image: url("background.png");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.title:hover {
  transform: scale(1.1);
}
.card h1,
p {
  width: 100%;
  color: #9c824a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-box img {
  width: 170px;
}
.logo-box img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.info, p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #251b04;
  margin: 0;
  padding: 5px;

}

.info h3{
  color: rgb(53, 23, 23);
}
