body{
    background-color: #222;
}
body h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5e9954;
}
#books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

#books div {
    background: #222;
    color: white;
    border-radius: 15px;
    border: 1px solid wheat;
    padding: 15px;
    text-align: center;
}

#books img {
    width: 100%;
    height: 300px;
}
button {
    background: #5e9954;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    opacity: 0.8;
}